@font-face {
  font-family: 'roboto';
  src: url(fonts/Roboto-Thin.ttf);
}

body {
  font-family: 'roboto';
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
}

.board-square {
  border: solid;
  height: 150px;
  text-align: center;
  font-size: 8.5rem;
}